.editor{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 5px solid black;
}

.view{
    display: flex;
}

.hide{
    display: none;
}

.editor_header{
    margin-left: 10px;
    width: 16%;
}
.editor_header h4{
    padding: 4px;
    width: 100%;
    color: rgb(170, 170, 204)
}

.CodeMirror{
    height: 100% !important;
}
.editor_text{
    width: 100%;
    height: 100%;
    /* border-top: 0.2px; */
    color: white;
    /* border-bottom: 0.2px;
    outline: none; */
    overflow-y: auto;
}